h1{
color: rgb(255, 153, 0);
text-align:center;
font-size: xx-large;
}

body{ 
background: #CCCCCC
    background-color rgb(17, 16, 16);
}

#banner{
width: 100%;
height: 100px;
}



p{
color: rgb(255, 255, 255);
text-align:center;
font-size: larger;
}


























